media/redcore/webservices/com_redshopb/site.redshopb-user.1.2.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-user.1.2.0.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-user.1.2.0.wsdl">
  <wsdl:types>
    <s:schema targetNamespace="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-user.1.2.0.wsdl" elementFormDefault="unqualified">
      <s:complexType name="ArrayOfStringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="limitStart" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="limit" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="filterSearch" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:readList_filters"/>
            <s:element minOccurs="0" maxOccurs="1" name="ordering" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="orderingDirection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readList_filters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="role_id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="company_id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="department_id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="send_email" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="blocked" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:readListResponse_list"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readListResponse_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="item" type="tns:readListResponse_list_item"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="readListResponse_list_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="employee_number" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="id_others" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="username" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="role_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="name2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="printed_name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="company_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="company_id_others" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="companies" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="companies_other_ids" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="department_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="department_id_others" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_name1" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_name2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_line1" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_line2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="city" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="country_code" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="phone" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="email" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="no_email" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="send_email" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="blocked" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:readItemResponse_item"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readItemResponse_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="employee_number" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="id_others" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="username" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="role_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="name2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="printed_name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="company_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="company_id_others" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="companies" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="companies_other_ids" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="department_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="department_id_others" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_name1" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_name2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_line1" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address_line2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="city" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="country_code" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="phone" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="email" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="no_email" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="send_email" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="blocked" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="default_delivery_address_id" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="default_delivery_address_other_ids" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="delivery_addresses" type="tns:ArrayOfStringType"/>
          <s:element minOccurs="1" maxOccurs="1" name="delivery_addresses_other_ids" type="tns:ArrayOfStringType"/>
        </s:sequence>
      </s:complexType>
      <s:element name="create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="employee_number" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="role_id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="name2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="printed_name" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="company_id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="department_id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_name1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_name2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_line1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_line2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="no_email" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="send_email" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="employee_number" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="erp_id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="role_id" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="name2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="printed_name" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="company_id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="department_id" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_name1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_name2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_line1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="address_line2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="no_email" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="send_email" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_block">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_blockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_unblock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_unblockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_deliveryAddressAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_deliveryAddressAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_deliveryAddressRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_deliveryAddressRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_deliveryAddressDefault">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_deliveryAddressDefaultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:service name="site.redshopb-user.1.2.0">
    <wsdl:documentation>Web service to maintain the users of the B2B application.</wsdl:documentation>
    <wsdl:port name="site.redshopb-user.1.2.0_Soap" binding="tns:site.redshopb-user.1.2.0">
      <soap:address location="http://localhost/workdemo/shop/administrator/index.php?webserviceClient=site&amp;webserviceVersion=1.2.0&amp;option=redshopb&amp;view=user&amp;api=soap"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="readListRequest">
    <wsdl:part name="parameters" element="tns:readList"/>
  </wsdl:message>
  <wsdl:message name="readListResponse">
    <wsdl:part name="parameters" element="tns:readListResponse"/>
  </wsdl:message>
  <wsdl:portType name="site.redshopb-user.1.2.0">
    <wsdl:operation name="readList">
      <wsdl:input message="tns:readListRequest"/>
      <wsdl:output message="tns:readListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="readItem">
      <wsdl:input message="tns:readItemRequest"/>
      <wsdl:output message="tns:readItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="tns:createRequest"/>
      <wsdl:output message="tns:createResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateRequest"/>
      <wsdl:output message="tns:updateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequest"/>
      <wsdl:output message="tns:deleteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_block">
      <wsdl:input message="tns:task_blockRequest"/>
      <wsdl:output message="tns:task_blockResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_unblock">
      <wsdl:input message="tns:task_unblockRequest"/>
      <wsdl:output message="tns:task_unblockResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_deliveryAddressAdd">
      <wsdl:input message="tns:task_deliveryAddressAddRequest"/>
      <wsdl:output message="tns:task_deliveryAddressAddResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_deliveryAddressRemove">
      <wsdl:input message="tns:task_deliveryAddressRemoveRequest"/>
      <wsdl:output message="tns:task_deliveryAddressRemoveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_deliveryAddressDefault">
      <wsdl:input message="tns:task_deliveryAddressDefaultRequest"/>
      <wsdl:output message="tns:task_deliveryAddressDefaultResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="site.redshopb-user.1.2.0" type="tns:site.redshopb-user.1.2.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="readList">
      <soap:operation soapAction="readList" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readItem">
      <soap:operation soapAction="readItem" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="create" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="update" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="delete" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_block">
      <soap:operation soapAction="task_block" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_unblock">
      <soap:operation soapAction="task_unblock" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_deliveryAddressAdd">
      <soap:operation soapAction="task_deliveryAddressAdd" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_deliveryAddressRemove">
      <soap:operation soapAction="task_deliveryAddressRemove" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_deliveryAddressDefault">
      <soap:operation soapAction="task_deliveryAddressDefault" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="readItemRequest">
    <wsdl:part name="parameters" element="tns:readItem"/>
  </wsdl:message>
  <wsdl:message name="readItemResponse">
    <wsdl:part name="parameters" element="tns:readItemResponse"/>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="tns:create"/>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse"/>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="tns:update"/>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="parameters" element="tns:delete"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse"/>
  </wsdl:message>
  <wsdl:message name="task_blockRequest">
    <wsdl:part name="parameters" element="tns:task_block"/>
  </wsdl:message>
  <wsdl:message name="task_blockResponse">
    <wsdl:part name="parameters" element="tns:task_blockResponse"/>
  </wsdl:message>
  <wsdl:message name="task_unblockRequest">
    <wsdl:part name="parameters" element="tns:task_unblock"/>
  </wsdl:message>
  <wsdl:message name="task_unblockResponse">
    <wsdl:part name="parameters" element="tns:task_unblockResponse"/>
  </wsdl:message>
  <wsdl:message name="task_deliveryAddressAddRequest">
    <wsdl:part name="parameters" element="tns:task_deliveryAddressAdd"/>
  </wsdl:message>
  <wsdl:message name="task_deliveryAddressAddResponse">
    <wsdl:part name="parameters" element="tns:task_deliveryAddressAddResponse"/>
  </wsdl:message>
  <wsdl:message name="task_deliveryAddressRemoveRequest">
    <wsdl:part name="parameters" element="tns:task_deliveryAddressRemove"/>
  </wsdl:message>
  <wsdl:message name="task_deliveryAddressRemoveResponse">
    <wsdl:part name="parameters" element="tns:task_deliveryAddressRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="task_deliveryAddressDefaultRequest">
    <wsdl:part name="parameters" element="tns:task_deliveryAddressDefault"/>
  </wsdl:message>
  <wsdl:message name="task_deliveryAddressDefaultResponse">
    <wsdl:part name="parameters" element="tns:task_deliveryAddressDefaultResponse"/>
  </wsdl:message>
</wsdl:definitions>
