media/redcore/webservices/com_redshopb/site.redshopb-product_attribute_value.1.1.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-product_attribute_value.1.1.0.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-product_attribute_value.1.1.0.wsdl">
  <wsdl:types>
    <s:schema targetNamespace="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-product_attribute_value.1.1.0.wsdl" elementFormDefault="unqualified">
      <s:complexType name="ArrayOfStringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="limitStart" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="limit" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="filterSearch" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:readList_filters"/>
            <s:element minOccurs="0" maxOccurs="1" name="ordering" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="orderingDirection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readList_filters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_attribute_id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="include_images" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:readListResponse_list"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readListResponse_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="item" type="tns:readListResponse_list_item"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="readListResponse_list_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="product_attribute_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="sku" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ordering" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="state" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="selected" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="image" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:readItemResponse_item"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readItemResponse_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="product_attribute_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="sku" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ordering" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="state" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="selected" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="image" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="product_attribute_id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="sku" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ordering" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="selected" type="s:boolean"/>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ordering" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="selected" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_publish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_publishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_unpublish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_unpublishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_imageUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="image" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_imageUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_imageRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_imageRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_reorder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="ordering" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_reorderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="conversion_set_id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="conversion_set_id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionImageUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="conversion_set_id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="image" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionImageUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionImageRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="conversion_set_id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_conversionImageRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="lang_code" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="lang_code" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateConversion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="conversion_set_id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="lang_code" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateConversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateConversionRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="conversion_set_id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="lang_code" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="task_translateConversionRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:service name="site.redshopb-product_attribute_value.1.1.0">
    <wsdl:documentation>Maintains the attribute values, given for the attributes of each product, to generate variants from them</wsdl:documentation>
    <wsdl:port name="site.redshopb-product_attribute_value.1.1.0_Soap" binding="tns:site.redshopb-product_attribute_value.1.1.0">
      <soap:address location="http://localhost/workdemo/shop/administrator/index.php?webserviceClient=site&amp;webserviceVersion=1.1.0&amp;option=redshopb&amp;view=product_attribute_value&amp;api=soap"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="readListRequest">
    <wsdl:part name="parameters" element="tns:readList"/>
  </wsdl:message>
  <wsdl:message name="readListResponse">
    <wsdl:part name="parameters" element="tns:readListResponse"/>
  </wsdl:message>
  <wsdl:portType name="site.redshopb-product_attribute_value.1.1.0">
    <wsdl:operation name="readList">
      <wsdl:input message="tns:readListRequest"/>
      <wsdl:output message="tns:readListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="readItem">
      <wsdl:input message="tns:readItemRequest"/>
      <wsdl:output message="tns:readItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="tns:createRequest"/>
      <wsdl:output message="tns:createResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateRequest"/>
      <wsdl:output message="tns:updateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequest"/>
      <wsdl:output message="tns:deleteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_publish">
      <wsdl:input message="tns:task_publishRequest"/>
      <wsdl:output message="tns:task_publishResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_unpublish">
      <wsdl:input message="tns:task_unpublishRequest"/>
      <wsdl:output message="tns:task_unpublishResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_imageUpload">
      <wsdl:input message="tns:task_imageUploadRequest"/>
      <wsdl:output message="tns:task_imageUploadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_imageRemove">
      <wsdl:input message="tns:task_imageRemoveRequest"/>
      <wsdl:output message="tns:task_imageRemoveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_reorder">
      <wsdl:input message="tns:task_reorderRequest"/>
      <wsdl:output message="tns:task_reorderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_conversionAdd">
      <wsdl:input message="tns:task_conversionAddRequest"/>
      <wsdl:output message="tns:task_conversionAddResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_conversionRemove">
      <wsdl:input message="tns:task_conversionRemoveRequest"/>
      <wsdl:output message="tns:task_conversionRemoveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_conversionImageUpload">
      <wsdl:input message="tns:task_conversionImageUploadRequest"/>
      <wsdl:output message="tns:task_conversionImageUploadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_conversionImageRemove">
      <wsdl:input message="tns:task_conversionImageRemoveRequest"/>
      <wsdl:output message="tns:task_conversionImageRemoveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_translate">
      <wsdl:input message="tns:task_translateRequest"/>
      <wsdl:output message="tns:task_translateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_translateRemove">
      <wsdl:input message="tns:task_translateRemoveRequest"/>
      <wsdl:output message="tns:task_translateRemoveResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_translateConversion">
      <wsdl:input message="tns:task_translateConversionRequest"/>
      <wsdl:output message="tns:task_translateConversionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_translateConversionRemove">
      <wsdl:input message="tns:task_translateConversionRemoveRequest"/>
      <wsdl:output message="tns:task_translateConversionRemoveResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="site.redshopb-product_attribute_value.1.1.0" type="tns:site.redshopb-product_attribute_value.1.1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="readList">
      <soap:operation soapAction="readList" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readItem">
      <soap:operation soapAction="readItem" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="create" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="update" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="delete" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_publish">
      <soap:operation soapAction="task_publish" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_unpublish">
      <soap:operation soapAction="task_unpublish" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_imageUpload">
      <soap:operation soapAction="task_imageUpload" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_imageRemove">
      <soap:operation soapAction="task_imageRemove" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_reorder">
      <soap:operation soapAction="task_reorder" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_conversionAdd">
      <soap:operation soapAction="task_conversionAdd" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_conversionRemove">
      <soap:operation soapAction="task_conversionRemove" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_conversionImageUpload">
      <soap:operation soapAction="task_conversionImageUpload" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_conversionImageRemove">
      <soap:operation soapAction="task_conversionImageRemove" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_translate">
      <soap:operation soapAction="task_translate" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_translateRemove">
      <soap:operation soapAction="task_translateRemove" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_translateConversion">
      <soap:operation soapAction="task_translateConversion" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_translateConversionRemove">
      <soap:operation soapAction="task_translateConversionRemove" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="readItemRequest">
    <wsdl:part name="parameters" element="tns:readItem"/>
  </wsdl:message>
  <wsdl:message name="readItemResponse">
    <wsdl:part name="parameters" element="tns:readItemResponse"/>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="tns:create"/>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse"/>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="tns:update"/>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="parameters" element="tns:delete"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse"/>
  </wsdl:message>
  <wsdl:message name="task_publishRequest">
    <wsdl:part name="parameters" element="tns:task_publish"/>
  </wsdl:message>
  <wsdl:message name="task_publishResponse">
    <wsdl:part name="parameters" element="tns:task_publishResponse"/>
  </wsdl:message>
  <wsdl:message name="task_unpublishRequest">
    <wsdl:part name="parameters" element="tns:task_unpublish"/>
  </wsdl:message>
  <wsdl:message name="task_unpublishResponse">
    <wsdl:part name="parameters" element="tns:task_unpublishResponse"/>
  </wsdl:message>
  <wsdl:message name="task_imageUploadRequest">
    <wsdl:part name="parameters" element="tns:task_imageUpload"/>
  </wsdl:message>
  <wsdl:message name="task_imageUploadResponse">
    <wsdl:part name="parameters" element="tns:task_imageUploadResponse"/>
  </wsdl:message>
  <wsdl:message name="task_imageRemoveRequest">
    <wsdl:part name="parameters" element="tns:task_imageRemove"/>
  </wsdl:message>
  <wsdl:message name="task_imageRemoveResponse">
    <wsdl:part name="parameters" element="tns:task_imageRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="task_reorderRequest">
    <wsdl:part name="parameters" element="tns:task_reorder"/>
  </wsdl:message>
  <wsdl:message name="task_reorderResponse">
    <wsdl:part name="parameters" element="tns:task_reorderResponse"/>
  </wsdl:message>
  <wsdl:message name="task_conversionAddRequest">
    <wsdl:part name="parameters" element="tns:task_conversionAdd"/>
  </wsdl:message>
  <wsdl:message name="task_conversionAddResponse">
    <wsdl:part name="parameters" element="tns:task_conversionAddResponse"/>
  </wsdl:message>
  <wsdl:message name="task_conversionRemoveRequest">
    <wsdl:part name="parameters" element="tns:task_conversionRemove"/>
  </wsdl:message>
  <wsdl:message name="task_conversionRemoveResponse">
    <wsdl:part name="parameters" element="tns:task_conversionRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="task_conversionImageUploadRequest">
    <wsdl:part name="parameters" element="tns:task_conversionImageUpload"/>
  </wsdl:message>
  <wsdl:message name="task_conversionImageUploadResponse">
    <wsdl:part name="parameters" element="tns:task_conversionImageUploadResponse"/>
  </wsdl:message>
  <wsdl:message name="task_conversionImageRemoveRequest">
    <wsdl:part name="parameters" element="tns:task_conversionImageRemove"/>
  </wsdl:message>
  <wsdl:message name="task_conversionImageRemoveResponse">
    <wsdl:part name="parameters" element="tns:task_conversionImageRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="task_translateRequest">
    <wsdl:part name="parameters" element="tns:task_translate"/>
  </wsdl:message>
  <wsdl:message name="task_translateResponse">
    <wsdl:part name="parameters" element="tns:task_translateResponse"/>
  </wsdl:message>
  <wsdl:message name="task_translateRemoveRequest">
    <wsdl:part name="parameters" element="tns:task_translateRemove"/>
  </wsdl:message>
  <wsdl:message name="task_translateRemoveResponse">
    <wsdl:part name="parameters" element="tns:task_translateRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="task_translateConversionRequest">
    <wsdl:part name="parameters" element="tns:task_translateConversion"/>
  </wsdl:message>
  <wsdl:message name="task_translateConversionResponse">
    <wsdl:part name="parameters" element="tns:task_translateConversionResponse"/>
  </wsdl:message>
  <wsdl:message name="task_translateConversionRemoveRequest">
    <wsdl:part name="parameters" element="tns:task_translateConversionRemove"/>
  </wsdl:message>
  <wsdl:message name="task_translateConversionRemoveResponse">
    <wsdl:part name="parameters" element="tns:task_translateConversionRemoveResponse"/>
  </wsdl:message>
</wsdl:definitions>
