media/redcore/webservices/com_redshopb/site.redshopb-cron.1.0.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-cron.1.0.0.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-cron.1.0.0.wsdl">
  <wsdl:types>
    <s:schema targetNamespace="http://localhost/workdemo/shop/media/redcore/webservices/com_redshopb/site.redshopb-cron.1.0.0.wsdl" elementFormDefault="unqualified">
      <s:complexType name="ArrayOfStringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="limitStart" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="limit" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="filterSearch" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfStringType"/>
            <s:element minOccurs="0" maxOccurs="1" name="ordering" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="orderingDirection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:readListResponse_list"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readListResponse_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="item" type="tns:readListResponse_list_item"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="readListResponse_list_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="mute_to" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="mute_from" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="title" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="plugin" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="state" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="start_time" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="finish_time" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="next_start" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="lft" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="rgt" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="alias" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="path" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="parent_alias" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="execute_sync" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="mask_time" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="offset_time" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="is_continuous" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="items_process_step" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="items_processed" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="items_total" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="last_status_messages" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="params" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="checked_out" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="checked_out_time" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:service name="site.redshopb-cron.1.0.0">
    <wsdl:documentation>Check Cron job current status</wsdl:documentation>
    <wsdl:port name="site.redshopb-cron.1.0.0_Soap" binding="tns:site.redshopb-cron.1.0.0">
      <soap:address location="http://localhost/workdemo/shop/administrator/index.php?webserviceClient=site&amp;webserviceVersion=1.0.0&amp;option=redshopb&amp;view=cron&amp;api=soap"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="readListRequest">
    <wsdl:part name="parameters" element="tns:readList"/>
  </wsdl:message>
  <wsdl:message name="readListResponse">
    <wsdl:part name="parameters" element="tns:readListResponse"/>
  </wsdl:message>
  <wsdl:portType name="site.redshopb-cron.1.0.0">
    <wsdl:operation name="readList">
      <wsdl:input message="tns:readListRequest"/>
      <wsdl:output message="tns:readListResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="site.redshopb-cron.1.0.0" type="tns:site.redshopb-cron.1.0.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="readList">
      <soap:operation soapAction="readList" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
